{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Тестовое задание Megafon</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div class="container container-center">
      <h1 class="container__title">Калькулятор НДС</h1>
      <form class="form" action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="input-form__error">
          {{ form.value.errors }}
        </div>
        <div class="input-form">
          {{ form.value }}
          <p class="input-form__placeholder">Цена, руб.</p>
        </div>
        <div class="input-form__error">
          {{ form.hasNds.errors }}
        </div>
        <div class="input-form">
          {{ form.hasNds }}
          <label class="input-form__label" for="check_1">НДС</label>
        </div>
        <div class="input-form">
          {{ form.nds }}
          <p class="input-form__placeholder">процент НДС</p>
        </div>
        <div class="input-form__error">
          {{ form.nds.errors }}
        </div>
        <input class="input-form__button" type="submit" value="Посчитать">
      </form>
      <ul class="history">
        {% if not money %}
          В истории пока нет записей.
        {% endif %}
        {% for item in money %}
          <li class="history__item">
            {{item.parsed}}
          </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
